$primary-bg-color: #ffffff;
$secondary-text-color: #ffffff;
$secondary-bg-color: #2f303a;
$another-bg-color: #f5f4fa;
$text-color: #757575;
$title-text-color: #212121;
$accent: #2196f3;
$border-color-header: #ececec;
$icon-color: #afb1b8;

